
svg {
  outline:                1px dotted red; }

td, th {
  padding:                1mm;
  background-color:       #ddd;
  white-space:            nowrap; }

th {
  text-align:             left; }

#trends .sparkline {
  min-width:              35mm;
  max-width:              35mm; }

#trends .sparkline svg {
  outline:                1px solid orange; }
