



svg {
  outline:                1px dotted red; }

td, th {
  padding:                1mm;
  background-color:       #ddd;
  white-space:            nowrap; }

th {
  text-align:             left; }

#trends .sparkline {
  min-width:              100mm;
  min-height:             10mm; }
#trends .sparkline svg {
  outline:                1px solid orange;

}
